BITCOIN_RPC_URL=http://bitcoin
BITCOIN_RPC_USER=bitcoin
BITCOIN_RPC_PASSWORD=bitcoin
BITCOIN_RPC_PORT=8332
BITCOIN_RPC_TIMEOUT=10000

# Enable in bitcoin.conf with
# zmqpubrawblock=tcp://*:3000
# BITCOIN_ZMQ_HOST="tcp://192.168.1.100:3000"

API_PORT=3334
STRATUM_PORT=3333

#block-template interval
BLOCK_TEMPLATE_INTERVAL=30000

#optional telegram bot
TELEGRAM_BOT_TOKEN="xxx"
TELEGRAM_DIFF_NOTIFICATIONS=true

#optional discord bot
#DISCORD_BOT_CLIENTID=
#DISCORD_BOT_GUILD_ID=
#DISCORD_BOT_CHANNEL_ID=

#optional dev fee configuration
DEV_FEE_ADDRESS=
DEV_FEE_PERCENT=1.5
# mainnet | testnet
NETWORK=mainnet

API_SECURE=false
POOL_IDENTIFIER="blitzpool"

# Ignore share statistics before this UNIX timestamp in milliseconds (values below 1e12 are treated as seconds)
#SHARE_STATS_RESET_AFTER=
